<div class='modal fade form-modal' id='speaker_limit_reached' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Limit Reached</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">You Can't add more than five speaker to a topic</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>
