$shadow-color: rgba(0, 0, 0, 0.5);

$theme-color: rgb(26, 115, 186);

$anchor-hover-color: rgb(26, 115, 186);

$anchor-active-color: rgb(180, 27, 88);

$text-color: rgb(51, 51, 51);

$light-text-color: rgb(128, 130, 133);

$light-theme-color: rgb(97, 188, 241);

$modal-content-color: gray;