$body-background-color: rgb(98, 89, 82);

$content-background-color: lightgray;

$wrapper-shadow-color: rgba(0, 0, 0, 0.5);

$theme-color: #3498db;

$body-text-color: white;

$light-theme-color: rgb(97, 188, 241);

$modal-content-color: gray;