@font-face {
  font-family: 'opensans-regular';
  src: url('/assets/OpenSans-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'opensans-semibold';
  src: url('/assets/OpenSans-Semibold.ttf');
}
