<div class="row">
  <a href="/topics/new" class="btn btn-primary pull-right" id="register_new_topic">Register New Topic</a>
</div>

<div class='topic-blocks clearfix'>
  <% @topics.each do |topic| %>
      <div class='col-lg-3 col-md-4 col-sm-6'>
        <div class='block'>
          <div id="title">
            <h2>
              <a class="topic-title" data-id="<%= topic.id %>"><%= topic.title %></a>
              <span class="no-of-votes"><%= topic.voters.length %></span>
            </h2>
          </div>
          <div id="description"><%= topic.description %></div>
        </div>
      </div>
  <% end %>
</div>

