<% if notice %>
    <div class="alert alert-success" id="notice">
      <%= notice %>
    </div>
<% end %>

<div class="row">
  <a href="/topics/new" class="btn btn-primary pull-right" id="register_new_topic">Register New Topic</a>
</div>

<% if @topics.blank? %>
    <div class="alert alert-info">
      Be the first one to register for XConf 2014
    </div>
<% else %>
    <%= render 'topics/partials/topic_list' %>
<% end %>

