<% if notice %>
    <div class="alert alert-success" id="notice">
      <%= notice %>
    </div>
<% end %>

<% if @topics.blank? %>
    <div class="no-talks">
      no talks available
    </div>
<% else %>
    <%= render 'topics/partials/topic_list' %>
<% end %>

