<div class="row">
  <a href="/topics/new" class="btn btn-primary pull-right" id="register_new_topic">Register New Topic</a>
  <a href="/topics" class="btn btn-primary pull-right">Back To List</a>
</div>

<% if @topics.blank? %>
    <div class="alert alert-info">
      You have not voted to any topic.
    </div>
<% else %>
    <%= render 'topics/partials/topic_list' %>
<% end %>