@import "mixins/colors";

body {
  background: $body-background-color;
  padding: 20px;
  color: $body-text-color;
}

#wrapper {
  background: $content-background-color;
  padding: 20px 20px 0 20px;
  box-shadow: 0 12px 30px $wrapper-shadow-color;
}

a {
  color: white;
  &:hover {
    color: $body-text-color;
    text-decoration: none;
  }
}

.row {
  margin: 0;
}

.btn-primary {
  color: $body-text-color;
  background: $theme-color;
  border: none;
  padding: 7px 20px;
  font-size: 16px;
  &:hover {
    background: $light-theme-color;
    color: $body-text-color;
  }
}

#header {
  background: $theme-color;
  padding: 5px 0;
  box-shadow: 0 3px 10px $wrapper-shadow-color;
  margin-bottom: 20px;

  #logo {
    height: 70px;
    vertical-align: top;
  }

  #app_title {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
    span {
      font-size: 11px;
    }
  }

  #location {
    display: inline-block;
    letter-spacing: 3px;
  }

  h2 {
    margin: 0;
    letter-spacing: 13px;
  }
}

#username {
  padding-top: 42px;
  font-size: 17px;
  padding-right: 0px;
  cursor: pointer;
  #name {
    padding-right: 10px;
  }
  .dropdown-toggle {
    padding-right: 15px;
  }
  .dropdown-menu {
    top: 31px;
  }
}

.caret {
  border-top: 8px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.alert {
  padding: 10px;
}

.alert-info {
  background: $light-theme-color;
  border: none;
  color: $body-text-color;
  font-size: 17px;
}

#footer {
  text-align: center;
  a:hover {
    color: $light-theme-color
  }
}