@import "mixins/colors";

body {
  color: $text-color;
  font-family: opensans-regular;
}

#header {
  padding: 5px 0;
  box-shadow: 0 3px 10px $shadow-color;
  margin-bottom: 20px;

  img {
    height: 90px;
  }

  #theme {
    text-align: center;
  }

}

.sidebar {
  padding: 0;
  box-shadow: 0 3px 10px $shadow-color;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 5px;
    padding: 12px 0;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid $text-color;
    list-style: none;
    &:last-child {
      border-bottom: none;
    }

  }

  #submit_new_talk {
    cursor: pointer;
  }

  .icon {
    font-size: 45px;
    font-weight: bold;
  }
  .icon-text {
    font-size: 15px;
    margin-top: 5px;
  }

}

a {
  color: $text-color;
  &:hover {
    color: $anchor-hover-color;
    text-decoration: none;
  }
}

a.active {
  color: $anchor-active-color;
}

.row {
  margin: 0;
}

.btn {
  color: $text-color;
  border: 1px solid $text-color;
  background: white;
  padding: 7px 20px;
  font-size: 16px;
  font-family: opensans-semibold;
  &:hover {
    background: $text-color;
    color: #ffffff;
  }
}

#username {
  padding-top: 62px;
  padding-right: 0px;
  cursor: pointer;
  font-size: 20px;

  &:hover .glyphicon-cog {
    color: $anchor-hover-color;
  }

  .glyphicon-cog {
    position: relative;
    top: 2px;
  }

  .glyphicon-log-out {
    padding-right: 7px;
  }

  .dropdown-toggle {
    padding-right: 10px;
  }

  .dropdown-menu {
    top: 34px;
  }

  .open {
    .glyphicon-cog {
      color: $anchor-active-color;
    }
  }
}

.caret {
  border-top: 10px solid;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.alert {
  padding: 10px;
}

.alert-danger {
  background: $alert-danger-bg-color;
  color: #ffffff;
  border: none;
}

button.close {
  color: white !important;
  opacity: 1 !important;
}


//******************************* Media Queries **************************************//

@media (max-width: 768px) {

  #header {
    img {
      height: 45px;
    }
  }
  #username {
    padding: 25px 0 0 0;
    #name {
      padding-right: 5px;
    }
    .dropdown-toggle {
      padding-right: 5px;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #header {
    img {
      height: 70px;
    }
  }

  #username {
    padding-top: 50px;
  }
}
