@import "mixins/colors";

#new_topic {
  margin-top: 20px;
  background: $light-theme-color;
  padding: 20px 20px 5px 20px;
}

#submit_topic {
  margin-left: 15px;
}

textarea.form-control {
  height: 120px;
  max-height: 120px;
  max-width: 100%;
}

.form-horizontal {
  .control-label {
    padding-right: 5px;
    font-size: 17px;
  }
  .btn-primary:hover {
    background: $theme-color;
    color: $body-text-color;
  }

}

#error_explanation {
  margin-bottom: 15px;
  color: red;
  h2 {
    margin: 0;
  }
}

.required {
  color: red;
  font-size: 20px;
}