@import "mixins/colors";

.modal-backdrop.in {
  opacity: 0.8;
}

.modal-content {
  color: $modal-content-color;
  word-wrap: break-word;
  .no-of-votes {
    background: $light-theme-color;
  }
}

.loader {
  background: url('loader.gif') no-repeat;
  background-size: contain;
  padding-left: 28px;
}

.modal-body {
  padding: 15px 15px 0 15px;
  font-size: 15px;
  .alert {
    margin-bottom: 15px;
    padding: 8px;
    display: none;
  }
}

