@import "mixins/colors";

.block {
  margin-bottom: 30px;
  background: $light-theme-color;
  border-radius: 4px;
  height: 320px;
  word-wrap: break-word;
  overflow: hidden;

  h2 {
    margin: 0;
  }

  .title {
    border-bottom: 1px solid $theme-color;
    padding: 10px 12px 6px 0px;
  }

  .description {
    padding: 6px 12px 12px 12px;
    font-size: 20px;
  }

  .edit-topic {
    float: right;
    padding-top: 5px;
    position: relative;
    top: -32px;
    left: -10px;
  }

  .edit-text {
    padding-left: 8px;
  }

}

h3 {
  margin: 0;
  padding-top: 5px;
}

.speaker-list {
  padding-top: 14px;
  font-size: 15px;
  label {
    background: $theme-color;
    padding: 4px;
    margin-right: 5px;
    border-radius: 2px;
  }
}

.dropdown-menu {
  top: 28px;
  left: -137px;
  background: $light-theme-color;
  border-color: $theme-color;
  font-size: 15px;
  > li > a {
    color: $body-text-color;
    padding: 3px 12px;
    &:hover {
      background: $theme-color;
      color:  $body-text-color;
    }
  }
}

#register_new_topic {
  margin-bottom: 20px;
  margin-left: 20px;
}

.topic-title {
  cursor: pointer;
  word-wrap: break-word;
}

.no-of-votes {
  padding: 4px;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  background: $theme-color;
  position: relative;
  top: -3px;
}

.edit-topic, .edit-speakers {
  cursor: pointer;
}