@import "mixins/colors";

.no-talks {
  width: 52%;
  margin: 160px auto;
  color: $light-text-color;
  font-size: 65px;
  font-weight: bold;
}

.block {
  margin-bottom: 30px;
  background: $light-theme-color;
  border-radius: 6px;
  height: 350px;
  word-wrap: break-word;
  overflow: hidden;

  h2 {
    margin: 0;
  }

  .title {
    border-bottom: 1px solid $theme-color;
    padding: 10px 12px 6px 0px;
  }

  .description {
    padding: 6px 12px 12px 12px;
    font-size: 20px;
  }

  .edit-topic {
    float: right;
    padding-top: 5px;
    position: relative;
    top: -32px;
    left: -10px;
  }

  .edit-text {
    padding-left: 8px;
  }

  .topic-header {
    padding-right: 0;
  }

}

h4 {
  margin: 0;
  padding-top: 10px;
}

.speaker-list {
  padding-top: 10px;
  font-size: 15px;
  label {
    background: $theme-color;
    padding: 4px;
    margin-right: 5px;
    border-radius: 2px;
  }
}

.dropdown-menu {
  top: 29px;
  left: -137px;
  background: #ffffff;
  box-shadow: 0 3px 10px $shadow-color;
  font-size: 15px;
  > li > a {
    color: $text-color;
    padding: 3px 15px;
    font-size: 18px;
    &:hover {
      background: #ffffff;
      color: $anchor-hover-color;
    }
  }
}

#register_new_topic {
  margin-bottom: 20px;
  margin-left: 20px;
}

.topic-title {
  cursor: pointer;
  word-wrap: break-word;
  &:hover {
    color: $theme-color;
    text-decoration: underline;
  }
}

.no-of-votes {
  padding: 4px;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  background: $theme-color;
  position: relative;
  top: -3px;
}

.edit-topic, .edit-speakers {
  cursor: pointer;
}

//******************************* Media Queries **************************************//

@media (max-width: 768px) {

  .no-talks {
    font-size: 50px;
  }

}

@media (min-width: 768px) and (max-width: 992px) {

  .no-talks {
    font-size: 50px;
  }

}

@media (min-width: 992px) and (max-width: 1200px) {
  .no-talks {
    font-size: 50px;
  }
}
