@import "mixins/colors";

.modal-backdrop.in {
  opacity: 0;
}

.modal-dialog {
  width: 80%;
  margin: 120px auto;
}

.modal-content {
  word-wrap: break-word;
  .no-of-votes {
    background: $light-theme-color;
  }
}

.loader {
  background: url('loader.gif') no-repeat;
  background-size: contain;
  padding-left: 28px;
}

.modal-body {
  padding: 25px 45px 0 25px;
  font-size: 16px;
  .alert {
    margin-bottom: 15px;
    padding: 8px;
    display: none;
  }
}

.modal .row {
  padding-bottom: 10px;
}

.modal-footer {
  margin-top: 5px;
}